/*.job-list .job-list-item {
    display: inline-block;
    width: 24%;
    padding: 0.5em 1em;
}*/

.job-posting-section {
    padding: 1em;
}

.job-posting-logo {
    width: 100px;
    vertical-align: top;
}
.job-posting-logo-edit {
    width: 25px;
}

.job-list .featured {
    background: #FBFBD3;
}

.job-list-info {
    max-width: 55%;
    display: inline-block;
    padding: 0 1em;
}

.job-list-title {
    font-size: 1.3em;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-list-company {
    font-size: 0.9em;
}

.job-list-date {
    font-size: 0.8em;
    position: absolute;
    right: 2em;
    vertical-align: initial;
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 525px) {

    body {
        font-size: 14px;
    }

    .job-list-title {
        font-size: 0.9em;
    }

    .job-list-company {
        font-size: 0.7em;
    }
    .job-posting-logo {
        display: none;
    }
}

.activation-buttons {
    padding: 1em 0;
}

.apply_info {
    background: #EAEAEA;
    border-radius: 0.2em;
}

.upload-logo label {
    margin-bottom: 0;
    cursor: pointer;
}

.header-button {
    font-size: 1.5em;
    padding: 10px 12px;
}

.share-links {
    font-size: 0.8em;
}

.search-form {
    text-align: center;
}
    .search-form .input-group-btn {
        width: 39px !important;
    }

.search-group {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 525px) {
    .search-group {
        width: 100%;
    }
}